.box, .box_result {
  color: white;
}

.box, .box_result {
  font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Microsoft JhengHei;
}

body {
  background-color: #eeeeee;
}

.wrapper {
  width: 100vw;
  min-width: 450px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content {
  width: 350px;
  height: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 5px #3b3b3b;
          box-shadow: 3px 3px 5px #3b3b3b;
  background-color: #062145;
}

.text {
  width: 350px;
  height: 110px;
  padding: 10px 20px;
  overflow-x: auto;
  border-radius: 20px 20px 0 0;
  background-color: #041936;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text::-webkit-scrollbar {
  display: none;
}

.operation {
  font-size: 14px;
  color: #00C4FF;
}

.text_num {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  color: white;
}

.keyboard {
  width: 350px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  width: 75px;
  height: 65px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all .05s ease;
  transition: all .05s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box_square {
  width: 75px;
  height: 65px;
  border-radius: 15px;
  background-color: #041936;
}

.box_click {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 15px;
  background-color: #e7decf28;
}

.box:hover {
  border-radius: 15px;
  background-color: #e7decf28;
}

.box_result {
  width: 160px;
  height: 60px;
  border-radius: 15px;
  text-align: right;
  padding-right: 30px;
  cursor: pointer;
  background: transparent -webkit-gradient(linear, left top, right top, from(#00C4FF), to(#6C00FF));
  background: transparent linear-gradient(90deg, #00C4FF 0%, #6C00FF 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box_result:hover {
  border-radius: 15px;
  background: #e7decf28;
}
/*# sourceMappingURL=style.css.map */